<div class="container list-paniers overview">
  <div class="page-header">
    <%= link_to new_panier_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Nouveau panier
    <% end %>

    <a class="btn btn-default change-view">
      <span class="glyphicon glyphicon glyphicon-th"></span>
      <span class="glyphicon glyphicon glyphicon glyphicon-list"></span>
    </a>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Semaine</th>
          <th>Produits</th>
          <th>Prix</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @paniers) do |panier| %>
              <td><%= panier.semaine %></td>
              <td>
              <select class="form-control">
                <% panier.portions.each do |portion| %> 
                <option><%= portion.quantity %>KG de <%= portion.legume.titre %></option>
                <% end %>
              </select>
                </td>
              <td><%= get_cart_total(panier.portions) %> €</td>
              <td>
              <%= link_to panier_portions_path(panier) do %>
                <span class="glyphicon glyphicon-plus"></span>
                Voir le panier
              <% end %>
              </td>
              <td>
              <%= link_to panier, method: :delete, data: { confirm: 'Êtes-vous sur de vouloir le supprimer ?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
                Supprimer ce panier
              <% end %>
              </td>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="overview-display">
  <ul>
    <%= content_tag_for(:tr, @paniers) do |panier| %>
      <li class="case"><%= panier.semaine %></li>
    <% end %>
  </ul>
  </div>

</div>
