<div class="page-header">
  <%= link_to new_panier_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Panier
  <% end %>
  <h1>Listing paniers</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Semaine</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @paniers) do |panier| %>
            <td><%= panier.semaine %></td>
            <td><%= link_to 'Show', panier %></td>
        <td><%= link_to 'Edit', edit_panier_path(panier) %></td>
        <td><%= link_to 'Destroy', panier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
