<div id="map" style="height:500px" class="col-xs-12 col-sm-8"></div>
  <script>
  <% @farm.location ||= "{ lat: 44.8404400, lng: -0.5805000 }" %>

  function initMap() {
    var location = [<%= @farm.location %>];
    var lat = (location[0].lat);
    var lng = (location[0].lng);
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: lat,lng: lng},
      mapTypeId: google.maps.MapTypeId.SATELLITE,
      zoom: 15
    });
    var reload = false;
    var ferme = new google.maps.Polygon({
      paths: location,
      strokeColor: '#FFFFFF',
      strokeOpacity: 0.8,
      strokeWeight: 0,
      fillColor: '#FFFFFF',
      fillOpacity: 0.35
    });
    ferme.setMap(map);

    // auto zoom on farm
    var latlng = [];
    for(i=0;i<location.length-1;i++){
      latlng.push(new google.maps.LatLng(location[i].lat, location[i].lng));
    }
    var latlngbounds = new google.maps.LatLngBounds();
    for (var i = 0; i < latlng.length; i++) {
        latlngbounds.extend(latlng[i]);
    }
    // si l'utilisateur a déjà enrefistré sa ferme
    if(location.length > 1){
      map.fitBounds(latlngbounds);  
    }

    // parcelles 
    var parcelles = [];
    var date = <%= Date.today.cweek %>;
    <% @farm.plots.each do |plot| %>
      parcelles[<%= plot.id %>] = new google.maps.Polygon({
        paths: [<%= plot.location %>],
        strokeColor: '#7FC79D',
        strokeOpacity: 0.8,
        strokeWeight: 1,
        fillColor: '#7FC79D',
        fillOpacity: 0.75,
        indexID: <%= plot.id %>,
        title: "<%= plot.name %>",
        <% unless plot.generation.nil? %>
        legume: "<%= plot.generation.legume.titre %>",
        plantation: <%= plot.generation.plantation %>,
        recolte: <%= plot.generation.recolte %>,
        <% end %>
        id: <%= plot.id %>,
      });
      parcelles[<%= plot.id %>].setMap(map);

      google.maps.event.addListener(parcelles[<%= plot.id %>], 'click', function (event) {
        
        $('.side-infos').addClass('show');
        $('#parcelle-title').html(this.title);
        $('#parcelle-surface').html(google.maps.geometry.spherical.computeArea(this.getPath()).toFixed() + " m2");

        <% unless plot.generation.nil? %>
          $('#parcelle-legume').html(this.legume);
          $('#parcelle-plantation').html(this.plantation);
          $('#parcelle-recolte').html(this.recolte);
          var pourcentage = (date-this.plantation)*100/(this.recolte-this.plantation);
          if(!isFinite(pourcentage)) pourcentage = 100;

          $('.progress-bar').attr('aria-valuenow', pourcentage).attr('style', "width:"+pourcentage+"%");
          $('#parcelle-progress').fadeIn();
        <% end %>

        $('#parcelle-delete').attr('href', '/plots/'+this.id);
        $('#parcelle-edit').attr('href', '/plots/'+this.id+'/edit');
        $('#parcelle-controls').fadeIn();
      });
    <% end %>
  }

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=drawing&callback=initMap"
  async defer></script>