<div class="container">
<%= form_for(@farm, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @farm.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@farm.errors.count, "error") %> prohibited this farm from being saved:</h4>

      <ul>
      <% @farm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<%= render 'form_for_map' %>

  <div class="col-xs-12">
    <div class="col-xs-6">
      <%= f.text_field :name, class: "form-control input-farm", placeholder: "Entrez un nom", required: "required" %>
      <%= f.hidden_field :location, required: "required" %>
      <%= f.hidden_field :lat %>
      <%= f.hidden_field :lng %>
    </div>
    <div class="col-xs-6 text-left">
        <%= f.submit "Mettre à jour ma ferme", class: "btn btn_green btn_farm" %>
    </div>
  </div>

<% end %>
</div>

<%= render 'helper/index', style:"right:auto;left:1em;", title:"Dessiner une ferme", text:simple_format("Pour dessiner votre ferme, naviguez et zoomez dans la carte afin de trouver votre ferme. Quand vous la voyez bien en grand, cliquez sur l'icône 'polygone' en haut de la carte. Vous pouvez ensuite créer les points des bords de votre forme un par un, en cliquant sur la carte aux endroits correspondant aux bords réels de votre ferme. <br/>Si vous avez fait une erreur, pas de panique, rechargez cette page et recommencez tranquillement.<br/>Vous pourrez toujours modifier les formes plus tard si besoin.") %>