<div class="container">
<h1><%= @farm.name %></h1>
  <%= link_to 'Modifier ma ferme', edit_farm_path(@farm.slug), class: 'btn btn-default' %>
  <%= link_to 'Gérer mes parcelles', parcelles_path, class: 'btn btn-default' %>
  <div id="map" style="height:500px" class="col-xs-12 col-sm-8"></div>
  <script>
  <% @farm.location ||= "{ lat: -33, lng: 151 }" %>

  function initMap() {
      var location = [<%= @farm.location %>];
    var lat = (location[0].lat + location[2].lat)/2;
    var lng = (location[0].lng + location[2].lng)/2;
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: lat,lng: lng},
      mapTypeId: google.maps.MapTypeId.SATELLITE,
      zoom: 15
    });

    var ferme = new google.maps.Polygon({
      paths: location,
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.35
    });
    ferme.setMap(map);
    var parcelles = [];

    <% @farm.parcelles.each do |parcelle| %>
      parcelles[<%= parcelle.id %>] = new google.maps.Polygon({
        paths: [<%= parcelle.location %>],
        strokeColor: '#FF0000',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#FF0000',
        fillOpacity: 0.35,
        indexID: <%= parcelle.id %>,
        title: "<%= parcelle.title %>",
        legume: "<%= parcelle.generation.legume.titre %>"
      });
      parcelles[<%= parcelle.id %>].setMap(map);
      google.maps.event.addListener(parcelles[<%= parcelle.id %>], 'click', function (event) {
        console.log(this.title);
        // Surface
        console.log(google.maps.geometry.spherical.computeArea(this.getPath()));
      });  
    <% end %>
  }

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=drawing&callback=initMap"
  async defer></script>
  <div class="col-xs-12 col-sm-4">
    <h4 id="parcelle-title"></h4>
  </div>
  </div>
</div>
