<div class="list">
<div class="row">
  <div class="col-xs-12"> 
    <div class="row line-legend">
      <div class="col-md-1">Semaine</div>
      <div class="col-md-2">Qté</div>
      <div class="col-md-2">Produits</div>
      <div class="col-md-2">Prix</div>
      <div class="col-md-2"></div>
      <div class="col-md-3"></div>
    </div>
  </div>

  <div class="col-xs-12">
   <% @hampers.each do |hamper| %>
   <div class="row no-margin">
   <div class="line <% unless hamper.planted? %>alert-plant<% end %>">
      <% unless hamper.planted? %>
      <div class="alert-plant--box"><p>Des légumes doivent être plantés pour obtenir ce panier dans les temps</p></div>
      <% end %>
      
      <!-- semaine -->
      <div class="col-sm-12 col-md-1">
        <div class="line-item week"> 
          <p class="line-label">Semaine</p>
          <%= hamper.semaine %>
        </div>
      </div>
      
      <!-- quantité -->
      <div class="col-sm-12 col-md-2">
        <div class="line-item quantity"> 
        <p class="line-label">Quantité</p> 
          <%= number_field_tag "quantity", hamper.quantity, class: "paniers-qty form-control", id: hamper.id, :data => { url: farm_hamper_path(@farm.slug, hamper)}, min: 0 %>
        </div>
      </div>

      <!-- produits -->
      <div class="col-sm-12 col-md-2">
        <div class="line-item products">
        <p class="line-label">Produits</p> 
          <select class="form-control">
            <% hamper.portions.each do |portion| %> 
            <option><%= portion.quantity %>KG de <%= portion.plant.titre %></option>
            <% end %>
          </select>
        </div>
      </div>
      
      <!-- prix -->
      <div class="col-md-2 col-sm-12">
        <div class="line-item">
        <p class="line-label">Prix</p>
          <%= get_cart_total(hamper.portions) %> €
        </div>
      </div>

      <!-- edit -->
      <div class="col-md-2 col-xs-6">
        <div class="line-item control">
          <%= link_to farm_hamper_portions_path(@farm.slug, hamper) do %>            
          Voir le panier
          <% end %>
        </div>
      </div>

      <!-- delete -->
      <div class="col-md-3 col-xs-6 ">
        <div class="line-item control">  
          <%= link_to farm_hamper_path(@farm.slug, hamper), method: :delete, data: { confirm: 'Êtes-vous sur de vouloir le supprimer ?' } do %>
          <span class="glyphicon glyphicon-trash"></span>
          Supprimer
          <% end %>
        </div>
      </div>

      </div>

  </div>
  <% end %>

</div>


</div> 
</div>