<div class="section_grey">
<div class="container">
  <div class="page-header">
    <div class="legende">
      <ul>
        <li><span class="legende-box light-green"></span>Semis en pépinière
        </li><li><span class="legende-box mint-green"></span>Plantation et pousse
        </li><li><span class="legende-box dark-green"></span>Récolte et conservation</li></ul>
    </div>
  </div>
</div>

<div class="table-responsive fixed-table-header">
  <div class="fixed-table-wrapper">
    <table class="table fixed table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th style="min-width:120px">Qté à planter</th>
          <th style="min-width:100px">Année</th>
          <th style="min-width:120px"></th>
          <th class="dynamic-width">Légume</th> 
          <th>Variété</th> 
          <% for i in 1..52 %>
            <th><%= i %></th>
          <% end %>  
        </tr>
      </thead>
    </table>
  </div>
  <table class="table main-table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th style="min-width:120px">Qté à planter</th>
        <th style="min-width:100px">Année</th>
        <th></th>
        <th class="dynamic-width">Légume</th> 
        <th>Variété</th> 
        <% for i in 1..52 %>
          <th><%= i %></th>
        <% end %>  
      </tr>
    </thead>

    <tbody>
      <% @generations.each do |generation| %>
        <% plant = @plantations.where(generation: generation).first %>
        <% qtetoplant = @farm.get_quantity_to_plant(generation) %>
      <tr class="<% if !plant %>not-planted<% elsif qtetoplant > plant.quantity %>alert-plant<% end %>">
       <%= form_for([@farm, @plantation]) do |f| %>
       <td style="min-width:120px">
         <%= f.hidden_field :id, value: plant.id if plant %>
         <%= f.hidden_field :generation_id, value: generation.id %>
         <% 
          quantity = if plant.nil? 
              qtetoplant 
          else 
             plant.quantity 
          end
          %>
         <%= f.number_field :quantity, class: "form-control", value: quantity, :step => 'any', min: 0 %>
       </td>
       <td style="min-width:100px">
        <%= f.number_field :year, class: "form-control", value: Time.now.year, :step => 'any' %>
       </td>
       <td>
          <%= f.submit "Planter", class: "btn btn_green" unless plant %>
          <%= link_to "Retirer", farm_plantation_path(@farm, plant), method: :delete, class: "btn btn_red" if plant %>
        </td>
      <% end %>
      <td><%= generation.plant.titre unless generation.plant.nil? %></td>
      <td><%= generation.plant.variete unless generation.plant.variete %></td>
            <% seedling = false 
               plantation = false
               harvest = false 
               %>
            <% for i in 1..52 %>
              <% if generation.seedling_from == i %>
                <% seedling = true %>
                <td class="light-green"></td>
              <% elsif generation.plantation == i %>
                <td class="mint-green"></td>
                <% 
                  seedling = false 
                  plantation = true
                %>
              <% elsif generation.harvest == i %>
                <td class="dark-green"></td>
                <% 
                  plantation = false
                  harvest = true unless generation.available_for == generation.harvest 
                %>
              <% elsif generation.available_for == i %>
                <td class="dark-green"></td>
                <% 
                  harvest = false 
                %>
              <% elsif seedling %>
                <td class="light-green"></td>
              <% elsif plantation %>
                <td class="mint-green"></td>
              <% elsif harvest %>
                <td class="dark-green"></td>
              <% else %>
                <td></td>
              <% end %>
            <% end %> 

        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render 'helper/index', title:"", text:"Gérez vos plantations et gardez le contrôle sur la gestion de votre ferme. " %>
</div>