<%= form_for(@generation, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @generation.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@generation.errors.count, "error") %> prohibited this generation from being saved:</h4>

      <ul>
      <% @generation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :plant, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :plant_id, @farm.plants.order(name: 'asc').all.collect {|l| [l.name + "-" + l.type + "-" + l.feature, l.id]}, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Début du semi", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :seedling_from, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Fin du semi", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :seedling_to, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :plantation, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :plantation, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :harvest, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :harvest, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :available_for, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :available_for, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn_green" %>
    </div>
  </div>
<% end %>
