<div class="section_grey">
<div class="container">
  <div class="page-header">
    <%= link_to new_generation_path, class: 'btn btn_green' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Rajouter une génération
    <% end %>
    <div class="legende right">
      <ul>
        <li><span class="legende-box light-green"></span>Semis en pépinière
        </li><li><span class="legende-box mint-green"></span>Plantation et pousse
        </li><li><span class="legende-box dark-green"></span>Récolte et conservation</li></ul>
    </div>
  </div>
</div>
<div class="table-responsive fixed-table-header">
  <div class="fixed-table-wrapper">
    <table class="table fixed table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Légume</th>
          <% for week in 1..52 %>
            <th <% if is_current_week? week %>class="orange"<% end %>><%= week %></th>
          <% end %>
          <th style="min-width: 33px"></th>
          <th style="min-width: 33px"></th>
        </tr>
      </thead>
    </table>
  </div>
  <table class="table main-table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th style="min-width:110px">Légume</th> 
        <% for week in 1..52 %>
          <th <% if is_current_week? week %>class="orange"<% end %>><%= week %></th>
        <% end %>  
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @generations) do |generation| %>
      <td><%= generation.plant.titre unless generation.plant.nil? %></td>
            <% seedling = false 
               plantation = false
               harvest = false 
               %>
            <% for i in 1..52 %>
              <% if generation.seedling_from == i %>
                <% seedling = true %>
                <td class="light-green"></td>
              <% elsif generation.plantation == i %>
                <td class="mint-green"></td>
                <% 
                  seedling = false 
                  plantation = true
                %>
              <% elsif generation.harvest == i %>
                <td class="dark-green"></td>
                <% 
                  plantation = false
                  harvest = true unless generation.available_for == generation.harvest
                %>
              <% elsif generation.available_for == i %>
                <td class="dark-green"></td>
                <% 
                  harvest = false 
                %>
              <% elsif seedling %>
                <td class="light-green"></td>
              <% elsif plantation %>
                <td class="mint-green"></td>
              <% elsif harvest %>
                <td class="dark-green"></td>
              <% else %>
                <td></td>
              <% end %>
            <% end %> 
        <td><%= link_to edit_generation_path(generation) do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
        </td>
        <td><%= link_to generation, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>

<%= render 'helper/index', title:"C'est la cerise sur le gâteau !", text:"Adaptez le calendrier de semis, plantation et récolte pour chacun de vos légumes en fonction de votre agriculture et gérer vos différentes générations de légumes. " %>
</div>