<%= form_for(@parcelle, html: { class: "form-horizontal", role: "form" }) do |f| %>

  <% if @parcelle.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@parcelle.errors.count, "error") %> prohibited this parcelle from being saved:</h4>

      <ul>
      <% @parcelle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
  <%= f.label "Nom de la parcelle", class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
  <%= f.text_field :title, class: "form-control" %>
  </div>
</div>

<%= render 'parcelle_map' %>

  <%= f.hidden_field :location, class: "form-control" %>

  <div class="form-group">
    <%= f.label "Légume disponibles", class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <select name="parcelle[generation_id]" class="form-control">
        <% if @farm.planted_generations.where("recolte >= ?", Date.today.cweek).count == 0 %>
          <option value="" disabled selected>Vous n'avez pas de plantations disponibles en ce moment.</option>
        <% end %>
        <% @farm.planted_generations.where("recolte >= ?", Date.today.cweek).each do |generation| %>
          <option value="<%= generation.id %>">
            <%= generation.legume.titre.pluralize %> : À planter en semaine <%= generation.plantation %>, à récolter en semaine <%= generation.recolte %>
          </option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit 'Enregistrer la parcelle', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
