<div class="container">
  <div class="page-header">
    <%= link_to new_parcelle_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Nouvelle Parcelle
    <% end %>
    <h1>Parcelles</h1>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Titre</th>
          <th>Légume</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @parcelles) do |parcelle| %>
          <td><%= parcelle.title unless parcelle.title.nil? %></td>  
          <td><%= parcelle.generation.legume.titre unless parcelle.generation.nil? %></td>
          <td><%= link_to 'Modifier', edit_parcelle_path(parcelle) %></td>
          <td><%= link_to 'Supprimer', parcelle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>