<div class="container dashboard">
	<div class="toggle-carrot <%= "disabled" unless @farm.tutorial %>">
		<%= link_to @farm.slug + '/tutorial', method: 'patch', remote: true do %>
			<figure>
				<%= image_tag("carotte.png", class: "happy")%>
				<%= image_tag("carotte-sad.png", class: "sad")%>
			</figure>
			<% if @farm.tutorial %>
			<p>Aide activée<br/><i>Cliquez pour désactiver</i></p>
			<% else %>
			<p>Aide désactivée<br/><i>Cliquez pour activer</i></p>
			<% end %>
		<% end %>
	</div>
	<% todo = 0 %>
	<script>
	$.getJSON("http://api.openweathermap.org/data/2.5/weather?units=metric&cnt=7&lang=fr&lat=<%= @farm.lat %>&lon=<%= @farm.lng %>&appid=44a56d69f7c3e5607870fd49861e0075",function(json){
			var datas = JSON.parse(JSON.stringify(json));
			console.log(datas);
	    	$('#degres').html(datas.main.temp.toFixed());
	    	$('#ciel').html(datas.weather[0].description);
	    	/*$('#ciel').html('<img src="http://openweathermap.org/img/w/'+datas.weather[0].icon+'.png" alt="'+datas.weather[0].description+'">'); icons moches, dommage http://openweathermap.org/weather-conditions */
	    	$('#humidity').html(datas.main.humidity.toFixed());
	    	$('#ville').html(datas.name);
	    });
	</script>
	<h1>Journal de la semaine <%= Date.today.cweek %>.</h1>
	<div class="row cards-container">
		
		<% if @farm.lat.nil? %>
		<%= render 'card', title: 'À COMPLÉTER' %>
			<p class="text-left">Afin de profiter de la gestion parcellaire, veuillez remplir vos données géographiques.</p>
				<%= link_to "Dessiner ma ferme", edit_farm_path(@farm.slug), class: "btn btn_green" %>
				<%= link_to "Ajouter des parcelles", new_parcelle_path, class: "btn btn_green" %>
			</div>
		</div>
		<% end %>

		<%= render 'card', title: 'À SEMER' %>
			<% if @farm.generations_to_plant.to_sem_this_week.any? %>
				<!-- Générations à semer -->
				<ul class="list-group">
					<% @farm.generations_to_plant.to_sem_this_week.each do |generation| %>
					<li class="list-group-item"><%= image_tag("image-"+ generation.legume.titre.parameterize + ".png", width: "35px"); %></i> <%= generation.legume.titre.capitalize %></li>
					<% end %>
				</ul>
			<% else %>
				<span class="finished"><i class="glyphicon glyphicon-check"></i></span>
			<% end %>
			</div>
		</div>

		<%= render 'card', title: 'À PLANTER' %>
			<% if @farm.generations_to_plant.to_plant_this_week.any? %>
				<!-- Générations à planter -->
				<ul class="list-group">
					<% @farm.generations_to_plant.to_plant_this_week.each do |generation| %>
					<li class="list-group-item"><%= image_tag("image-"+ generation.legume.titre.parameterize + ".png", width: "35px"); %> <%= generation.legume.titre.capitalize %></li>
					<% end %>
				</ul>
				</blockquote>
			<% else %>
				<span class="finished"><i class="glyphicon glyphicon-check"></i></span>
			<% end %>
			</div>
		</div>

		<%= render 'card', title: 'RÉCOLTES' %>
			<% if @farm.planted_generations.to_recolt_this_week.any? %>
				<!-- Générations à récolter -->
				<ul class="list-group">
					<% @farm.generations_to_plant.to_recolt_this_week.each do |generation| %>
					<li class="list-group-item"> <%= image_tag("image-"+ generation.legume.titre.parameterize + ".png", width: "35px"); %> <%= generation.legume.titre.capitalize %></li>
					<% end %>
				</ul>
			<% else %>
				<span class="finished"><i class="glyphicon glyphicon-check"></i></span>
			<% end %>
			</div>
		</div>

		<%= render 'card', title: 'PANIERS' %>
			<% if Panier.to_do(@farm) > 0 %>
				<!-- Paniers à compléter -->
				<div class="valign meteo">
					<%= image_tag('basket.svg', id:"img_panier") %>
					<p id="panier"><span id="big"><%= Panier.to_do(@farm) %></span> paniers</p>
					<%= link_to 'Gérer mes paniers', farm_paniers_path(@farm.slug), class:"btn btn_green btn-end" %>
				</div>
			<% end %>
			</div>
		</div>
		
		<%= render 'card', title: 'MÉTEO' %>
			<div class="valign meteo">
				<h3><span id="ville"></span></h3>
				<h3><span id="degres"></span>°C</h3>
				<h3><span id="ciel"></span></h3>
				<h3 class="normal"><span id="humidity"></span>% d'humidité</h3>
			</div>
			</div>
		</div>
	</div>
</div>

<%= render 'helper/index', title:"Bienvenue dans votre Tableau de Bord !", text:"Découvrez dès maintenant ce que vous devez semer, planter et récolter cette semaine. Faîtes le point sur le nombre de paniers restant à gérer. Vous serez aux petits oignons !" %>