<div class="container dashboard">
	<% todo = 0 %>
	<script>
	$.getJSON("http://api.openweathermap.org/data/2.5/weather?units=metric&cnt=7&lang=fr&lat=<%= @farm.latitude %>&lon=<%= @farm.longitude %>&appid=44a56d69f7c3e5607870fd49861e0075",function(json){
			var datas = JSON.parse(JSON.stringify(json));
			console.log(datas);
	    	$('#degres').html(datas.main.temp.toFixed());
	    	$('#ciel').html(datas.weather[0].description);
	    	var w_class = "";
	    	switch(datas.weather[0].main) {
	    		case 'Rain':
	    			w_class = 'day-sleet';
	    		break;

	    		case 'Clear':
	    			w_class = 'day-sunny';
	    		break;

	    		case 'Clouds':
	    			w_class = 'cloudy';
	    		break;

	    		case 'Fog':
	    			w_class = 'fog';
	    		break;

	    		case 'Haze':
	    			w_class = 'day-haze';
	    		break;

	    		default: 
	    			w_class = 'day-cloudy';
	    		break;

	    	}
	    	$('#meteo-icon').removeClass().addClass('wi wi-'+ w_class);
	    	$('#humidity').html(datas.main.humidity.toFixed());
	    	$('#ville').html(datas.name);
	    });
	</script>
	<h1>Journal de la semaine <%= Date.today.cweek %>.</h1>
	<div class="row cards-container">
		
		<% unless @farm.is_drawn? %>
		<%= render 'card', title: 'À COMPLÉTER' %>
			<p class="text-left">Afin de profiter de la gestion parcellaire, veuillez remplir vos données géographiques.</p>
				<%= link_to "Dessiner ma ferme", edit_farm_path(@farm.slug), class: "btn btn_green" %>
				<%= link_to "Ajouter des parcelles", new_plot_path, class: "btn btn_green" %>
			</div>
		</div>
		<% end %>

		<%= render 'card', title: 'À SEMER' %>
			<% if @farm.generations_to_plant.to_sem_this_week.any? %>
				<!-- Générations à semer -->
				<ul class="list-group">
					<% @farm.generations_to_plant.to_sem_this_week.each do |generation| %>
					<li class="list-group-item"><%= image_tag("image-"+ generation.legume.titre.parameterize + ".png", width: "35px"); %></i> <%= generation.legume.titre.capitalize %></li>
					<% end %>
				</ul>
			<% else %>
				<span class="finished"><i class="glyphicon glyphicon-check"></i></span>
			<% end %>
			</div>
		</div>

		<%= render 'card', title: 'À PLANTER' %>
			<% if @farm.generations_to_plant.to_plant_this_week.any? %>
				<!-- Générations à planter -->
				<ul class="list-group">
					<% @farm.generations_to_plant.to_plant_this_week.each do |generation| %>
					<li class="list-group-item"><%= image_tag("image-"+ generation.legume.titre.parameterize + ".png", width: "35px"); %> <%= generation.legume.titre.capitalize %></li>
					<% end %>
				</ul>
				</blockquote>
			<% else %>
				<span class="finished"><i class="glyphicon glyphicon-check"></i></span>
			<% end %>
			</div>
		</div>

		<%= render 'card', title: 'RÉCOLTES' %>
			<% if @farm.planted_generations.to_recolt_this_week.any? %>
				<!-- Générations à récolter -->
				<ul class="list-group">
					<% @farm.generations_to_plant.to_recolt_this_week.each do |generation| %>
					<li class="list-group-item"> <%= image_tag("image-"+ generation.legume.titre.parameterize + ".png", width: "35px"); %> <%= generation.legume.titre.capitalize %></li>
					<% end %>
				</ul>
			<% else %>
				<span class="finished"><i class="glyphicon glyphicon-check"></i></span>
			<% end %>
			</div>
		</div>

		<%= render 'card', title: 'PANIERS' %>
			<% if Panier.to_do(@farm) > 0 %>
				<!-- Paniers à compléter -->
				<div class="valign meteo">
					<%= image_tag('basket.svg', id:"img_panier") %>
					<p id="panier"><span id="big"><%= Panier.to_do(@farm) %></span> paniers</p>
					<%= link_to 'Gérer mes paniers', farm_paniers_path(@farm.slug), class:"btn btn_green btn-end" %>
				</div>
			<% end %>
			</div>
		</div>
		
		<%= render 'card', title: 'MÉTEO' %>
			<% if @farm.is_drawn? %>
			<div class="meteo">
				<i id="meteo-icon" class=""></i>
				<p><span id="ville"></span></p>
				<p><span id="degres"></span>°C</p>
				<p><span id="ciel"></span></p>
				<p class="normal"><span id="humidity"></span>% d'humidité</p>
			</div>
			<% else %>
				<p class="text-left">Pour profiter de la méteo, veuillez dessiner votre ferme sur la carte.</p>
				<%= link_to "Dessiner ma ferme", edit_farm_path(@farm.slug), class: "btn btn_green" %>
				<%= link_to "Ajouter des parcelles", new_plot_path, class: "btn btn_green" %>
			<% end %>
			</div>
		</div>
	</div>
</div>

<%= render 'helper/index', title:"Bienvenue dans votre Tableau de Bord !", text:"Découvrez dès maintenant ce que vous devez semer, planter et récolter cette semaine. Faîtes le point sur le nombre de paniers restant à gérer. Vous serez aux petits oignons !" %>