<div class="container">
<% todo = 0 %>
<h1>Journal de la semaine <%= Date.today.cweek %></h1>

<% if @farm.generations_to_plant.to_plant_this_week.any? %>
	<!-- Générations à planter -->
	<h2><%= todo += 1 %>. Mes plantations</h2>
	<blockquote>
	<p>Je dois planter : </p>
	<ul class="list-group">
		<% @farm.generations_to_plant.to_plant_this_week.each do |generation| %>
		<li class="list-group-item"><%= @farm.get_quantity_to_plant(generation).to_i %> graines de <%= generation.legume.titre.downcase.pluralize %> <%= image_tag("image-"+ generation.legume.titre.parameterize + ".png", width: "35px"); %></li>
		<% end %>
	</ul>
	</blockquote>
<% else %>
	<p class="text-success"><i class="glyphicon glyphicon-check"></i> Rien à planter cette semaine.</p>
<% end %>

<% if @farm.generations_to_plant.to_sem_this_week.any? %>
	<!-- Générations à semer -->
	<h2><%= todo += 1 %>. Semis</h2>
	<blockquote>
	<p>Je dois semer : </p>
	<ul class="list-group">
		<% @farm.generations_to_plant.to_sem_this_week.each do |generation| %>
		<li class="list-group-item"><%= @farm.get_quantity_to_plant(generation).to_i %> graines de <%= generation.legume.titre.downcase.pluralize %> <%= image_tag("image-"+ generation.legume.titre.parameterize + ".png", width: "35px"); %></li>
		<% end %>
	</ul>
	</blockquote>
<% else %>
	<p class="text-success"><i class="glyphicon glyphicon-check"></i> Rien à semer cette semaine.</p>
<% end %>

<% if @farm.planted_generations.to_recolt_this_week.any? %>
	<!-- Générations à récolter -->
	<h2><%= todo += 1 %>. Mes récoltes</h2>
	<blockquote>
	<p>Je dois récolter : </p>
	<ul class="list-group">
		<% @farm.generations_to_plant.to_recolt_this_week.each do |generation| %>
		<li class="list-group-item">Les <%= generation.legume.titre.downcase.pluralize %> - <%= generation.legume.variete %> <%= image_tag("image-"+ generation.legume.titre.parameterize + ".png", width: "35px"); %></li>
		<% end %>
	</ul>
	</blockquote>
<% else %>
	<p class="text-success"><i class="glyphicon glyphicon-check"></i> Rien à récolter cette semaine.</p>
<% end %>

<% if Panier.to_do(@farm) > 0 %>
	<!-- Paniers à compléter -->
	<h2><%= todo += 1 %>. Mes paniers</h2>
	<blockquote>
	<p>Il me reste <%= Panier.to_do(@farm) %> paniers à compléter</p>
	<%= link_to 'Gérer mes paniers', farm_paniers_path(@farm.slug) %>
	</blockquote>
<% end %>



<div id="map" style="height:400px"></div>
<script>
<% @farm.location ||= "{ lat: -33, lng: 151 }" %>
function initMap() {
	var bounds = new google.maps.LatLngBounds();
	var i;

	var location = [<%= @farm.location %>];

	var map = new google.maps.Map(document.getElementById('map'), {
		center: location[0],
		mapTypeId: google.maps.MapTypeId.SATELLITE,
		zoom: 17
	});

  var bermudaTriangle = new google.maps.Polygon({
    paths: location,
    strokeColor: '#FF0000',
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: '#FF0000',
    fillOpacity: 0.35
  });
  bermudaTriangle.setMap(map);

}

</script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=drawing&callback=initMap"
async defer></script>
</div>
