<div class="container dashboard">
<div class="container">
<%= link_to 'Activer/Désactiver les tutoriels', @farm.slug + '/tutorial', method: 'patch', remote: true %>
<% todo = 0 %>
<script>
$.getJSON("http://api.openweathermap.org/data/2.5/weather?units=metric&cnt=7&lang=fr&lat=<%= @farm.lat %>&lon=<%= @farm.lng %>&appid=44a56d69f7c3e5607870fd49861e0075",function(json){
		var datas = JSON.parse(JSON.stringify(json));
    	$('#degres').html(datas.main.temp.toFixed());
    	$('#ville').html(datas.name);
    });
</script>
<div id="backdash">
<h1>Journal de la semaine <%= Date.today.cweek %>.</h1>
<small>Il fait <span id="degres"></span>°C à <span id="ville"></span></small>
<div class="row">
	<div class="col-xs-12 col-sm-2"></div>
	<div class="col-xs-12 col-sm-2">
			<div class="whiteblock">
				<div class="greenblock">


					<h2>À SEMER</h2>
				</div>
				<% if @farm.generations_to_plant.to_sem_this_week.any? %>
					<!-- Générations à semer -->
					<ul class="list-group">
						<% @farm.generations_to_plant.to_sem_this_week.each do |generation| %>
						<li class="list-group-item"><%= image_tag("image-"+ generation.legume.titre.parameterize + ".png", width: "35px"); %></i> <%= generation.legume.titre.capitalize %></li>
						<% end %>
					</ul>
				<% else %>
					<p class="text-success"><i class="glyphicon glyphicon-check"></i> Rien à semer cette semaine.</p>
				<% end %>

			</div>
		</div>
	<div class="col-xs-12 col-sm-2">
		<div class="whiteblock">
			<div class="greenblock">


				<h2>À PLANTER</h2>
			</div>
			<% if @farm.generations_to_plant.to_plant_this_week.any? %>
				<!-- Générations à planter -->
				<ul class="list-group">
					<% @farm.generations_to_plant.to_plant_this_week.each do |generation| %>
					<li class="list-group-item"><%= image_tag("image-"+ generation.legume.titre.parameterize + ".png", width: "35px"); %> <%= generation.legume.titre.capitalize %></li>
					<% end %>
				</ul>
				</blockquote>
			<% else %>
				<p class="text-success"><i class="glyphicon glyphicon-check"></i> Rien à planter cette semaine.</p>
			<% end %>
		</div>
	</div>

<div class="col-xs-12 col-sm-2">
		<div class="whiteblock">
			<div class="greenblock">


				<h2>À RECOLTER</h2>
			</div>
				<% if @farm.planted_generations.to_recolt_this_week.any? %>
					<!-- Générations à récolter -->

					<ul class="list-group">
						<% @farm.generations_to_plant.to_recolt_this_week.each do |generation| %>
						<li class="list-group-item"> <%= image_tag("image-"+ generation.legume.titre.parameterize + ".png", width: "35px"); %> <%= generation.legume.titre.capitalize %></li>
						<% end %>
					</ul>
				<% else %>
					<p class="text-success"><i class="glyphicon glyphicon-check"></i> Rien à récolter cette semaine.</p>
				<% end %>
		</div>
</div>
<div class="col-xs-12 col-sm-2">
		<div class="whiteblock">
			<div class="greenblock">


				<h2>PANIERS</h2>
			</div>
				<% if Panier.to_do(@farm) > 0 %>
					<!-- Paniers à compléter -->
					<%= image_tag('basket.svg', id:"img_panier") %>
					<p id="panier"><span id="big"><%= Panier.to_do(@farm) %></span> paniers</p>
					<%= link_to 'Gérer mes paniers', farm_paniers_path(@farm.slug), class:"btn btn_green" %>

				<% end %>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-2"></div>
</div>
</div>
