<% 
portion = if defined?(element)
  element
else
  @portion
end
%>
 <div class="panier-item" data-portion="<%= portion.legume.titre =%>" data-id="<%= portion.generation.id %>">
   <div class="row">
    <div class="col-md-4 col-xs-12">
      <div class="panier-item--img">
        <%= image_tag("image-"+portion.legume.titre.parameterize + ".png"); %>
      </div>
      <div class="panier-item--description">
        <h2 class="panier-item--title"><%= portion.legume.titre %></h2>
        <p class="panier-item--variete"><%= portion.legume.variete %></p> 
      </div>

    </div>
    <div class="col-md-4 col-xs-4">
      <p class="panier-item--date">Conservable jusqu'à la semaine <%= portion.generation.conservation_to unless portion.generation.nil? %></p> 
    </div>
    <div class="col-md-2 col-xs-4">
    <div class="panier-item--quantity">
        <p><%= portion.quantity %></p> 
    </div>
  
    </div>
    <div class="col-md-1">
      <p class="panier-item--price" data-price="<%= portion.price %>"><%= portion.price.round(2) %> €</p> 
    </div>
    <div class="col-md-1">
      <%= link_to farm_hamper_portion_path(@hamper.farm, @hamper,portion), method: :delete, data: { confirm: 'Êtes vous sur ?' }, remote: true do %>
      <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    </div>
  </div>
</div>