<div class="page-header">
  <%= link_to new_panier_portion_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Ajouter un légume
  <% end %>
  <h1>Légumes du panier de la semaine <%= @panier.semaine %></h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Legume</th>
            <th>Generation</th>
            <th>Quantity</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @portions) do |portion| %>
            <td><%= portion.legume.titre %></td>
            <td>Conservable jusqu'à la semaine <%= portion.generation.conservation_to unless portion.generation.nil? %></td>
            <td><%= portion.quantity %></td>
            <td><%= link_to 'Show', panier_portion_path(@panier,portion) %></td>
        <td><%= link_to 'Edit', edit_panier_portion_path(@panier,portion) %></td>
        <td><%= link_to 'Destroy', panier_portion_path(@panier,portion), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
