<div class="page-header">
  <%= link_to new_portion_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Portion
  <% end %>
  <h1>Listing portions</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Panier</th>
            <th>Legume</th>
            <th>Generation</th>
            <th>Quantity</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @portions) do |portion| %>
            <td><%= portion.panier_id %></td>
            <td><%= portion.legume %></td>
            <td><%= portion.generation %></td>
            <td><%= portion.quantity %></td>
            <td><%= link_to 'Show', portion %></td>
        <td><%= link_to 'Edit', edit_portion_path(portion) %></td>
        <td><%= link_to 'Destroy', portion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
