<div class="container">
  <div class="page-header">
    <%= link_to new_legume_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Nouveau légume
    <% end %>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Titre</th>
          <th>Variete</th>
          <th>Type</th>
          <th>Prix/kilo</th>
          <th>Nb graine/kilo</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @legumes) do |legume| %>
              <td><%= legume.titre %></td>
              <td><%= legume.variete %></td>
              <td><%= legume.caracteristique %></td>
              <td><%= legume.price %></td>
              <td><%= legume.nb_per_kilo %></td>
          <td><%= link_to 'Modifier', edit_legume_path(legume) %></td>
          <td><%= link_to 'Supprimer', legume, method: :delete, data: { confirm: 'Êtes-vous sur ?' } %></td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
