<div class="container">
  <div class="page-header">
    <%= link_to new_legume_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Nouveau légume
    <% end %>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Titre</th>
          <th>Variete</th>
          <th>Type</th>
          <th>Prix/kilo</th>
          <th>Nb graine/kilo</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @legumes) do |legume| %>
              <td class="text-center"><%= image_tag("image-"+ legume.titre.parameterize + ".png", width: "35px"); %></td>
              <td><%= legume.titre %></td>
              <td><%= legume.variete %></td>
              <td><%= legume.caracteristique %></td>
              <td><%= legume.price %></td>
              <td><%= legume.nb_per_kilo %></td>
          <td class="text-center"><%= link_to edit_legume_path(legume) do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
        </td>
          <td class="text-center"><%= link_to legume, method: :delete, data: { confirm: 'Êtes-vous sur ?' } do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render 'helper/index', title:"Les légumes", text:"Ajoutez et modifiez la liste de légumes à votre convenance. Vous pourrez y indiquer la variété, le prix, le nombre de graine à semer." %>
