<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Le Tableau de Bord</title>

  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
  <![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: 'navbar-brand' do %>
          <%= render 'logo' %>
        <% end %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Accueil', root_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.farm %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% if current_user.farm %>
                <li><%= link_to 'Tableau de bord', farm_path(current_user.farm.slug) %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to 'Légumes', plants_path %></li>
                <li><%= link_to 'Générations', generations_path %></li>
                <li><%= link_to 'Plantations', farm_plantations_path(current_user.farm.slug) %></li>
                <li><%= link_to 'Paniers', farm_hampers_path(current_user.farm.slug) %></li>
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to farm_tutorial_path(@farm.slug), method: 'patch' do %>
                    <p><i class="fa fa-check"></i><%= @farm.tutorial ? 'Aide activée' : 'Aide désactivée' %></p>
                  <% end %>
                </li>
                <li role="separator" class="divider"></li>
                <li><%= link_to 'Déconnexion', destroy_user_session_path, method: :delete %></li>
                <% else %>
                  TODO création farm
                <% end %>
              </ul>
            </li>
            
          <% else %>
            <li><%= link_to "Se connecter", new_user_session_path, class: 'btn btn_green btn_stroke' %></li>
            <li><%= link_to "S'enregistrer", new_user_registration_path, class: 'btn btn_green' %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

<!--
  <div class="container">
    <header class="header">
      <a href="/" class="header-logo">
        <%= render('logo') %>
      </a>
      <% if current_user %>
        <nav class="header-nav">
          <ul>
            <li class="nav-item <%= "is_active" if is_active?("dashboards") %>"><a class="btn" href="/">Accueil</a></li>
            <li class="nav-item <%= "is-active" if is_active?("plants") %>"><%= link_to "Légumes", plants_path, class: 'btn' unless current_user.farm.nil? %></li>
            <li class="nav-item <%= "is-active" if is_active?("generations") %>"><%= link_to "Générations", generations_path, class: 'btn' unless current_user.farm.nil? %></li>
            <li class="nav-item <%= "is-active" if is_active?("plantations") %>"><%= link_to "Plantations", farm_plantations_path(current_user.farm.slug), class: 'btn' unless current_user.farm.nil? %></li>
            <li class="nav-item <%= "is-active" if is_active?("hampers") %>"><%= link_to "Paniers", farm_hampers_path(current_user.farm.slug), class: 'btn' unless current_user.farm.nil? %></li>
          </ul>
        </nav>
      <% end %>
      <div class="header-links">
        <% if !current_user %>
            <%= link_to "Se connecter", new_user_session_path, class: 'btn btn_green btn_stroke' %>
            <%= link_to "S'enregistrer", new_user_registration_path, class: 'btn btn_green' %>
        <% else %>
            <%= link_to "Ma ferme", farm_path(current_user.farm.slug), class: 'btn btn_green btn_stroke' unless current_user.farm.nil? %>
            <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: 'btn btn_green' %>
        <% end %>
      </div>
    </header>
  </div>
-->
    <% flash.each do |name, msg| %>
      <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= msg %>
      <% end %>
    <% end %>

    <%= yield %>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p><small>© 2016, Tableau de Bord</small></p>
          <a href="http://www.fb.me/msg/letableaudebord" title="Envoyer un message" target="_blank">Contact</a>
          <a href="https://www.facebook.com/letableaudebord" title="Voir la page Facebook" target="_blank">Facebook</a>
        </div>
        <div class="col-sm-6 text-right">
          <%= link_to image_tag('footer-branding.png', height: 50), "http://www.fermesdavenir.org", class: "footer-logo", target: "_blank" %>
          <p id="right">
            En partenariat avec
          </p>
      </div>
      </div>
    </div>
  </footer>
</body>
</html>
